
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
 } 


/* @media only screen and (max-width: 600px) {
  #top-header > img{
height: 40px;
width:40px;
}
}
/*for tablets*/
/* @media only screen and (min-width: 768px) {
 #top-header > img{
height: 60px;
width:60px;
}
} */
/*for desktops*/
/* @media only screen and (min-width:992px) {
  #top-header > img{
 height: 100px;
 width: 100px;
 }
 } */ 
 #container {
  max-width: 1450vw;
  /*margin-left: 1vw;
  margin-right: 1vw;*/
  display: block;
}

#linked {
  position:relative;
  left:1000px;
  bottom:1px; 
  padding:10px;
}

#linked a{
  text-decoration: none;
}
#linked a:hover{
  color: #f71717;;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
}


.image-show img{
width: 45em;
height:35em;  
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
}
.image-show{
  display:flex;
}
#span{
  color:#f71717;;
}
#header{
  background-color:aquamarine;
 position:relative;
 
}


/* .nav-item{
  color: green;
} */
.container-fluid{
  width: 100%;
  height:100%;
  /* background-color: rgb(241, 88, 88); */
 
}
.container-fluid .nav-link:hover{
  color:#f71717;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
}

 
  .footer-l{
  background-color: rgb(241, 88, 88);
  text-align: center;
  margin-top:50px;
}

