* {
  font-family: sans-serif;
  box-sizing: border-box;
  /* overflow: hidden; */
}
 .container {
  display: block;
  height:auto;
}
.footer-l {
  background-color: #7fffd4;
  text-align: center;
  height: 100%;
  margin-top:-0.1vh;
}

/* #linked { */
  /* position:relative; */
  /* right:200px; */
  /* bottom:0px; 
  padding:100px; */
/* } */

.nav-item a{
  text-decoration: none;
}
.nav-item a:hover{
  color: #f71717;;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
}
.image-show img{
width:100%;
height:auto;  
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
}
/* .image-show{
  display:flex; */
  /* flex-direction:row; */
/* } */


.navbar {
  background-color: aquamarine;
}

/* #span{
  color:#f71717;
} */
/* .header{
 background-color:aquamarine;

} */

/* .nav-bar{
  background-color:aquamarine;
} */

/* #svg-btn{
  padding-right: 0.5em;
} */
.container-fluid{
  width: 100%;
  height:auto;
  /* background-color:aquamarine; */
  margin-top: 0%;
 
}
.nav{
  flex-wrap: wrap;
}
.container-fluid .nav-link:hover{
  color:#f71717;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
}
/* .hamburger{
  background-color:black;
  color: rgb(241, 207, 207);
  font-size: 20px;
  cursor: pointer;
  display: none;
} */

 
.p3{
 color:blue;
 text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
.flex-item-left {
  padding-right: 3px;
  flex: 50%;
}
.flex-item-right {
  padding-left: 3px;
  flex: 25%;
}
/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
















/* .mob-nav{display: none;cursor: pointer;} */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (min-width: 600px) {
  .mob-nav{display: block;}
  .nav{display:none;}
  .image-show{
    
    flex-direction:column;
  }
} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .mob-nav{display:block;}
  .nav{display:none;}
  .image-show{
    
    flex-direction:column;
  }
  .row{
    width:33.3%;
  }
} */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .image-show{
    flex-direction:column;
  }
  .hamburger{
    display:block;
  }
  .nav{
    display:none;
    width:100%;
    flex-direction: column;
  }
  .nav.show{
    display: flex;
  }
  .form-map{
    flex-direction: column;

  }
} 


/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .image-show{
    
    flex-direction:row;
  }
  
  
}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .image-show{
    
    flex-direction:row;
  }
} */




